<!DOCTYPE html>

<html>
  <head>
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body background="/img/background.jpg">
    <div class="main-content">
      <img class="fbi-logo" src="/img/fbi.png">
      <h3>Enter your case title and phone number</h3>
      <p>Please do not forget to enter your country code in your phone number</p>
      <form class="witness-form">
        <input class="title" placeholder="Name">
        <input class="phone-number" placeholder="Your phone number">
        <button>Search</button>
      </form>
      <p class="message">{{message}}</p>
    </div>
  </body>
    <script src="script.js"></script>
</html>
